.git
.gitignore
.github
.vercel
.next
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
coverage
playwright-report
test-results
blob-report
*.tsbuildinfo
.DS_Store
.env
.env.*
!.env.example
docs
